<div class="sticky-bar ui sticky" sticky ng-cloak>
  <div class="sticky-action-bar ui two column page grid">
    <div class="left floated eleven wide column">
      <div class="ui labeled selection dropdown campaign-category-filter">
        <input
          type="hidden"
          name="campaign-category"
          value="{{sortOrFiltersCampaign.filters.category}}"
        />
        <div class="default text" translate>tab_pledge_category</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header" translate>
            tab_pledge_category
          </div>
          <div
            class="item"
            ng-click="updateFiltersCampaignCategory(category)"
            translate
          >
            tab_pledge_allcategory
          </div>
          <div
            class="item"
            data-value="{{category.id}}"
            ng-repeat="category in categories | orderBy:'display_priority'"
            ng-click="updateFiltersCampaignCategory(category.id)"
          >
            {{category.name}}
          </div>
        </div>
      </div>
      <!-- DROPDOWN END -->

      <div class="ui labeled selection dropdown" id="campaign-status-filter">
        <input
          type="hidden"
          name="campaign-category"
          value="{{sortOrFiltersCampaign.filters.category}}"
        />
        <div class="default text" translate>tab_pledge_campaigns</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header" translate>
            tab_pledge_campaigns
          </div>
          <div
            class="item"
            ng-repeat="status in campaign_status"
            ng-click="selectStatus($index)"
            translate
          >
            {{status}}
          </div>
        </div>
      </div>
      <!-- DROPDOWN END -->
      <div class="ui labeled  selection dropdown campaign-status-filter">
        <input
          type="hidden"
          name="campaign-status"
          value="{{sortOrFiltersCampaign.sort}}"
        />
        <div class="default text" translate>tab_pledge_orderby</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header" translate>
            tab_pledge_orderby
          </div>
          <div
            class="item"
            ng-click="updateFiltersCampaignOrder('-created')"
            data-value="-created"
            translate
          >
            tab_pledge_newfirst
          </div>
          <div
            class="item"
            ng-click="updateFiltersCampaignOrder('created')"
            data-value="created"
            translate
          >
            tab_pledge_oldestfirst
          </div>
          <div
            class=" item"
            ng-click="updateFiltersCampaignOrder('name')"
            data-value="name"
            translate
          >
            tab_pledge_name
          </div>
        </div>
      </div>
      <!-- DROPDOWN END-->
    </div>
    <!-- COLUMN END -->

    <div class="right floated five wide column">
      <div class="ui right floated icon input campaign-search-input">
        <input
          type="text"
          keyboard-poster
          post-function="searchCampaign"
          name="name"
          placeholder="{{'tab_pledge_searchby '| translate}}"
          id="pledge-history-campaign"
        />
        <i class="search link icon"></i>
      </div>
    </div>
    <!-- COLUMN END -->
  </div>
</div>
<div class="campaign-contrib-wrap ui page grid">
  <div class="column">
    <div
      ng-include
      src="'views/templates/partials/no-data-available.html'"
      ng-show="campaigns.length==0"
    ></div>
    <div
      class="campaign-contrib"
      ng-repeat="campaign in campaigns | limitTo:sortOrFiltersCampaign.pagination.entriesperpage"
    >
      <div class="campaign-contrib-header ui top attached segment">
        <div class="ui three column stackable grid">
          <div class="two wide column">
            <a href="{{campaign.uri_paths[0].path}}">
              <img
                ng-repeat="file in campaign.files | filter:{region_id: RESOURCE_REGIONS.campaign.thumbnail} | orderBy:'-file_id' | limitTo: 1"
                ng-if="campaign.campaign_thumb_url"
                ng-src="{{server + '/image/campaign_thumbnail_medium/' + file.path_external}}"
                class="ui tiny image"
              />
              <img
                ng-if="!campaign.campaign_thumb_url"
                src="/images/placeholder-images/placeholder_campaign_thumb.png"
                class="ui tiny image"
              />
            </a>
          </div>
          <!-- column end -->

          <div class="nine wide column">
            <a class="campaign-name" href="{{campaign.uri_paths[0].path}}">
              <h3 class="ui header" title="{{campaign.name}}">
                {{campaign.name}}
              </h3>
            </a>
          </div>
          <!-- column end -->
          <div class="right aligned five wide column">
            <div
              class="campaign-end-wrap"
              ng-if="formatDatetoCompare(campaign.ends) > today"
            >
              <h3
                class="campaign-end ui center aligned header"
                am-time-ago="campaign.ends"
              ></h3>
              <h5 class="campaign-end ui center aligned header" translate>
                tab_pledge_until_campaign
              </h5>
            </div>
            <div class="campaign-end-wrap">
              <h3
                class="campaign-end ui center aligned red header"
                ng-if="formatDatetoCompare(campaign.ends) < today"
                translate
              >
                tab_pledge_campaign_ended
              </h3>
            </div>
          </div>
          <!-- column end -->
        </div>
      </div>
      <!-- campaign-contrib-header end -->

      <table
        class="campaign-contrib-history ui middle attached five column table"
      >
        <thead>
          <tr>
            <th translate>tab_pledge_ID</th>
            <th translate>tab_pledge_reward_desc</th>
            <th class="th-contrib-date" translate>tab_pledge_contributed_on</th>
            <th class="th-contrib-amount" translate>
              tab_pledge_amount_contributed
            </th>
            <th translate>tab_pledge_voucher</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="campaign-row"
            ng-repeat="pledge in campaign.pledge_details"
          >
            <td class="td-campaign-id">
              {{pledge.id}}
            </td>
            <td class="td-campaign-reward">
              {{pledge.pledge_levels[0].name}}
              <div ng-if="!pledge.pledge_levels[0].name" translate>
                tab_pledge_nodesc
              </div>
            </td>
            <td class="td-contrib-date" ng-hide="isISODate">
              {{pledge.created | formatDate:"MMM DD YYYY hh:mm A"}}
            </td>
            <td class="td-contrib-date" ng-show="isISODate">
              {{pledge.created | formatDate:"YYYY/MM/DD H:mm"}}
            </td>
            <td class="td-contrib-amount">
              <span
                ng-bind-html="pledge.amount | formatCurrency:campaign.currencies[0].code_iso4217_alpha:public_setting.site_campaign_decimal_option"
              ></span>
              <span ng-bind="campaign.currencies[0].code_iso4217_alpha"></span>
            </td>
            <td class="td-campaign-view">
              <!--<button
                class="more-btn ui button basic small"
                ng-click="openPledgeDetail($parent, $index, $parent.$parent.$index)"
                ng-show="campaign.ends.substring(0,10) >= today || campaignPledgeReplace"
                translate
              >
                tab_pledge_more
              </button>-->
              <!--<button
                class="more-btn ui button basic"
                ng-click="openPledgeDetail($parent, $index, $parent.$parent.$index)"
                ng-show="pledge.pledge_levels[0].name"
                translate
              >
                🎁
              </button>-->

              <a
                class="ui positive button redirect-link"
                ng-href="voucher/{{pledge.id}}"
                ng-show="pledge.pledge_levels[0].name"
                translate
                >🎁</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- campaign-contrib-history end -->
    </div>
    <!-- campaign-contrib end -->
    <div id="searchbox3" ng-hide="campaigns.length==0">
      <label class="per-page-label">{{'tab_pledge_show'| translate}} </label
      >&nbsp;
      <div class="ui selection  dropdown searchbtn" id="searchbtn">
        <span class="text" id="resultValuev" ng-model="entries"
          >{{totalentry[0]}}</span
        >
        <i class="dropdown icon"></i>
        <div class="menu" ng-click="checkentry()">
          <div class="item" ng-repeat="entry in totalentry">
            {{entry}}
          </div>
        </div>
      </div>
      <label class="per-page-label" translate>tab_pledge_results </label>
    </div>
    <div
      class="pagination-menu ui basic segment center aligned"
      style="margin-top:4rem;"
      ng-hide="campaigns.length==0"
    >
      <div
        semantic-pagination
        ng-model="sortOrFiltersCampaign.page"
        total-pages="sortOrFiltersCampaign.pagination.numpages"
        update-function="filterCampaign()"
      ></div>
    </div>
  </div>
</div>
<!-- campaign-contrib-wrap end -->
