@font-face {
  font-family: "OxpitanFont";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontello.woff2") format("woff2"),
    url("../fonts/fontello.woff") format("woff"),
    url("../fonts/fontello.ttf") format("truetype"),
    url("../fonts/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?55429973#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "OxpitanFont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancer:before {
  content: "\e800";
} /* '' */
.icon-charity:before {
  content: "\e801";
} /* '' */
.icon-family:before {
  content: "\e802";
} /* '' */
.icon-hamburger:before {
  content: "\e803";
} /* '' */
.icon-health:before {
  content: "\e804";
} /* '' */
.icon-heart:before {
  content: "\e805";
} /* '' */
.icon-line-chart:before {
  content: "\e806";
} /* '' */
.icon-mortarboard:before {
  content: "\e807";
} /* '' */
.icon-mosque:before {
  content: "\e808";
} /* '' */
.icon-peace-1:before {
  content: "\e809";
} /* '' */
.icon-peace:before {
  content: "\e80a";
} /* '' */
.icon-pet:before {
  content: "\e80b";
} /* '' */
.icon-praying:before {
  content: "\e80c";
} /* '' */
.icon-stethoscope:before {
  content: "\e80d";
} /* '' */
.icon-target:before {
  content: "\e80e";
} /* '' */
.icon-water-bottle:before {
  content: "\e80f";
} /* '' */
