<!DOCTYPE html>
<html id="ng-app" ng-app="Atlas">
  <head>
    <base href="/" />

    <title ng-bind="page_title"></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="fragment" content="!" />

    <meta
      property="fb:app_id"
      content="{{facebook_app_id}}"
      ng-if="facebook_app_id"
    />

    <meta property="og:url" content="{{ogMeta.url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ogMeta.title}}" />
    <meta property="og:description" content="{{ogMeta.description}}" />
    <meta property="og:site_name" content="{{ogMeta.site_name}}" />
    <meta property="og:image" content="{{ogMeta.image}}" ng-if="ogMeta.image" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <!-- favicon -->
    <link
      ng-controller="FavIconCtrl"
      rel="shortcut icon"
      ng-href="{{faviconURL}}"
      type="image/png"
    />

    <!-- google fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Pacifico|Lato:400,700,400italic,700italic&subset=latin"
      rel="stylesheet"
      type="text/css"
    />

    <!-- semantic UI 1.x css -->
    <link
      rel="stylesheet"
      href="app/bower_components/semantic-ui/dist/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="app/bower_components/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="stylesheets/screen.css"
      media="screen, projection"
    />
    <link
      rel="stylesheet"
      href="app/bower_components/ngQuickDate/dist/ng-quick-date.css"
    />
    <link rel="stylesheet" href="app/bower_components/select2/select2.css" />
    <link
      rel="stylesheet"
      href="app/bower_components/angular-ui-select/dist/select.min.css"
    />
    <link rel="stylesheet" href="stylesheets/pgwslider.css" />

    <!-- DO NOT REMOVE CUSTOM FILES -->
    <link rel="stylesheet" href="stylesheets/custom-pages.css" />
    <link rel="stylesheet" type="text/css" href="custom/custom.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/responsive.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/font-awesome.css"
    />
    <link rel="stylesheet" type="text/css" href="stylesheets/fontello.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/jquery.fancybox.css"
    />
    <link rel="stylesheet" type="text/css" href="stylesheets/lightbox.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/magnific-popup.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="stylesheets/owl.theme.default.min.css"
    />
    <!-- DO NOT REMOVE CUSTOM FILES END -->

    <!-- jQuery -->
    <script src="app/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Youtube & Viemo Player -->
    <script src="https://www.youtube.com/player_api"></script>

    <!-- angularjs -->
    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="app/bower_components/angular-translate/angular-translate.min.js"></script>

    <!-- Froala -->
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/codemirror/codemirror.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/froala_editor.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/froala_style.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/char_counter.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/code_view.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/colors.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/draggable.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/emoticons.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/file.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/fullscreen.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/image.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/image_manager.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/line_breaker.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/quick_insert.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/table.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="plugins/froala/css/plugins/video.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  </head>

  <body
    ng-controller="MainCtrl"
    class="container main-color"
    id="{{$root.page_route}}"
    ng-class="theme_classes"
    translate-cloak
    ng-cloak
  >
    <div id="loader" class="ui page dimmer">
      <div class="content">
        <div class="center">
          <i
            ng-if="site_load_icon.path_external"
            class="custom-image icon loading"
          >
            <img
              ng-src="{{server + '/image/w-100-h-100/' + site_load_icon.path_external}}"
              imageonload
            />
          </i>
          <i
            ng-if="!site_load_icon.path_external"
            ng-class="site_load_class"
            class="icon loading massive"
          ></i>
        </div>
      </div>
    </div>
    <div
      class="ui sidebar left vertical overlay inverted menu"
      id="mobile-sidebar"
      ng-controller="NavbarCtrl"
    >
      <a class="item close-icon" ng-cloak>
        <i class="close-menu remove icon" ng-click="closeMobileSidebar();"></i>
      </a>
      <a href="{{site_logo_link}}" class="item" id="logo" ng-cloak>
        <div class="logo-wrap">
          <img class="ui image" ng-src="{{logoUrl}}" />
        </div>
      </a>
      <a
        ng-class="{active: $location.path() == '/' + page.path}"
        class="item menu-item"
        ng-repeat="page in headerMenu"
        ng-href="{{page.path}}"
        my-target="{{page.id}}"
        ng-bind="page.name"
        target="_self"
      ></a>
      <div ng-show="User.isLoggedIn()">
        <h4
          class="ui horizontal header divider inverted mobile-menu-header"
          translate
        >
          <i class="dashboard icon"></i> mobile_header_dashboard
        </h4>
        <div class="menu">
          <a
            ng-if="User.portal_admin"
            class="item menu-item"
            ng-click="navItem()"
            ng-class="{active: $location.path() === '/admin/dashboard' && $location.hash() !== 'subscription-settings'}"
            href="/admin/dashboard/"
            translate
          >
            mobile_header_administration
          </a>
          <a
            ng-if="User.campaign_manager"
            class="item menu-item"
            ng-class="{active: $location.path() === '/campaign-manager'}"
            href="/campaign-manager"
            translate
          >
            mobile_header_mycampaigns
          </a>
          <a
            ng-if="User.campaign_backer"
            class="item menu-item"
            ng-class="{active: $location.path() === '/pledge-history'}"
            href="/pledge-history"
            translate
          >
            mobile_header_mycontributions
          </a>
          <a
            class="item menu-item"
            class="item menu-item"
            ng-class="{active: $location.path() === 'message-center'}"
            href="/message-center"
            translate
          >
            mobile_header_mymessages</a
          >
        </div>
        <h4
          class="ui horizontal header divider inverted mobile-menu-header"
          translate
        >
          <i class="user icon"></i> mobile_header_personalsettings
        </h4>
        <div class="menu">
          <a
            class="item menu-item"
            ng-class="{active: $location.path() === '/profile-setting'}"
            href="/profile-setting"
            translate
          >
            mobile_header_profilesettings
          </a>
          <a
            class="item menu-item"
            ng-class="{active: $location.path() === '/payment-setting'}"
            href="/payment-setting"
            translate
          >
            mobile_header_paymentsettings
          </a>
        </div>
        <a class="item menu-item" ng-click="User.setLoggedOut()" translate>
          mobile_header_logout</a
        >
      </div>

      <a
        href="login"
        ng-if="!User.isLoggedIn()"
        class="item menu-item collapsible"
        translate
      >
        mobile_header_login
      </a>
    </div>
    <div class="pusher" style="overflow:initial" ng-show="partsDone">
      <script></script>
      <div
        id="nav-wrapper"
        ng-include
        src="'views/templates/partials/nav.html'"
        ng-hide="$root.nav_disabled"
      ></div>
      <div
        id="main-bg"
        ng-view
        autoscroll="true"
        ng-class="{ 'sticky-menu-push' : stickyMenu }"
      ></div>
      <div
        id="footer-wrapper"
        ng-include
        src="'views/templates/partials/footer.html'"
        id="site-footer"
        ng-show="checkhome||checkstart||checkexplore||checkpledgehistory||checkCstatus||checkmessage||checkperson||checkSaccount||checklogin||checkapi||checkfooter"
        ng-if="!$root.footer_disabled"
      ></div>
    </div>
    <a href id="back-to-top" ng-click="backToTop()">
      <i class="large circular inverted double angle up icon"></i>
    </a>

    <div class="loader-modal" id="myloader"></div>

    <div ng-controller="AnalyticsCtrl" ng-bind-html="analyticsCode"></div>

    <script src="app/bower_components/jquery-ui/jquery-ui.min.js"></script>

    <script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="app_local.js"></script>
    <script src="scripts/locale/locale-translator.js"></script>

    <script src="plugins/spinjs/spin.min.js"></script>

    <script src="scripts/API.js"></script>
    <!-- directives -->
    <script src="scripts/directives/directives.js"></script>
    <!-- controllers -->
    <script src="scripts/controllers/app-config.js"></script>
    <script src="scripts/controllers/HomeCtrl.js"></script>
    <script src="scripts/controllers/UserProfileCtrl.js"></script>
    <script src="scripts/controllers/ProfileCtrl.js"></script>
    <script src="scripts/controllers/ResetPasswordCtrl.js"></script>
    <script src="scripts/controllers/ConfirmEmailCtrl.js"></script>
    <script src="scripts/controllers/RetryCardCtrl.js"></script>
    <script src="scripts/controllers/RegisterCtrl.js"></script>
    <script src="scripts/controllers/LoginCtrl.js"></script>
    <script src="scripts/controllers/CreateCampaignCtrl.js"></script>
    <script src="scripts/controllers/CompleteFundingCtrl.js"></script>
    <script src="scripts/controllers/ContactMessageCtrl.js"></script>
    <script src="scripts/controllers/CampaignCtrl.js"></script>
    <script src="scripts/controllers/CampaignStatusCtrl.js"></script>
    <script src="scripts/controllers/NavbarCtrl.js"></script>
    <script src="scripts/controllers/FooterCtrl.js"></script>
    <script src="scripts/controllers/CampaignStepCtrl.js"></script>
    <script src="scripts/controllers/CustomPageCtrl.js"></script>
    <script src="scripts/controllers/ApiDocsCtrl.js"></script>
    <script src="scripts/controllers/UserManagementCtrl.js"></script>
    <script src="scripts/controllers/PortalSettingCtrl.js"></script>
    <script src="scripts/controllers/CampaignReviewCtrl.js"></script>
    <script src="scripts/controllers/ExploreCtrl.js"></script>
    <script src="scripts/controllers/PledgeHistoryCtrl.js"></script>
    <script src="scripts/controllers/CampaignManagementCtrl.js"></script>
    <script src="scripts/controllers/NavSearchCtrl.js"></script>
    <script src="scripts/controllers/PledgeCampaignCtrl.js"></script>
    <script src="scripts/controllers/CampaignPreviewCtrl.js"></script>
    <script src="scripts/controllers/StartCtrl.js"></script>
    <script src="scripts/controllers/ProfileSettingCtrl.js"></script>
    <script src="scripts/controllers/PaymentSettingCtrl.js"></script>
    <script src="scripts/controllers/SystemMessageCtrl.js"></script>
    <script src="scripts/controllers/StripeConnectCtrl.js"></script>
    <script src="scripts/controllers/MessageCenterCtrl.js"></script>
    <script src="scripts/controllers/CreditCardFormCtrl.js"></script>
    <script src="scripts/controllers/StreamManageCtrl.js"></script>
    <script src="scripts/controllers/TransactionDetailsCtrl.js"></script>
    <script src="scripts/controllers/WpListCtrl.js"></script>
    <script src="scripts/controllers/WPCtrl.js"></script>
    <script src="scripts/controllers/AccountCtrl.js"></script>
    <script src="scripts/controllers/AnalyticsCtrl.js"></script>

    <script src="scripts/controllers/InlineContributionCtrl.js"></script>
    <script src="scripts/controllers/GuestCampaignCtrl.js"></script>
    <script src="scripts/controllers/EmbedViewsCtrl.js"></script>
    <script src="scripts/controllers/AdminReportCtrl.js"></script>
    <script src="scripts/controllers/AdminUserManagementCtrl.js"></script>
    <script src="scripts/controllers/AdminCategoryManagementCtrl.js"></script>
    <script src="scripts/controllers/AdminCampaignManagementCtrl.js"></script>
    <script src="scripts/controllers/AdminPageManagementCtrl.js"></script>
    <script src="scripts/controllers/AdminPortalSettingsCtrl.js"></script>
    <script src="scripts/controllers/WidgetCtrl.js"></script>
    <!-- services -->
    <script src="scripts/services/UserService.js"></script>
    <script src="scripts/services/CreateCampaignService.js"></script>
    <script src="scripts/services/StripeService.js"></script>
    <script src="scripts/services/CoreService.js"></script>
    <script src="scripts/services/VideoLinkService.js"></script>
    <script src="scripts/services/CampaignSettingsService.js"></script>
    <script src="scripts/services/PortalSettingsService.js"></script>
    <script src="scripts/services/WpService.js"></script>
    <script src="scripts/services/TwitterWidgetService.js"></script>
    <script src="scripts/services/CurrencyService.js"></script>
    <script src="scripts/services/FileUploadService.js"></script>
    <script src="scripts/services/TimeStatusService.js"></script>
    <script src="scripts/services/ValidateURLService.js"></script>
    <script src="scripts/money_symbols.js"></script>

    <!-- jssor -->
    <script src="scripts/pgwslider.min.js"></script>

    <!-- jscolor picker -->
    <script src="plugins/jscolor/jscolor.min.js"></script>

    <script src="app/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script src="app/bower_components/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="app/bower_components/angular-cookie/angular-cookie.min.js"></script>
    <script src="app/bower_components/ng-csv/build/ng-csv.min.js"></script>

    <script src="app/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="app/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="app/bower_components/angular-route/angular-route.min.js"></script>
    <script src="app/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="app/bower_components/angular-cookie/angular-cookie.min.js"></script>
    <script src="app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="app/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="app/bower_components/select2/select2.min.js"></script>
    <script src="app/bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="app/bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="app/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="app/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="app/bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
    <script src="app/bower_components/flow.js/dist/flow.min.js"></script>
    <script src="app/bower_components/ng-flow/dist/ng-flow.min.js"></script>
    <script src="app/bower_components/moment/min/moment.min.js"></script>
    <script src="app/bower_components/angular-moment/angular-moment.js"></script>
    <script src="app/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <script src="app/bower_components/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
    <script src="app/bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="app/bower_components/angulartics/dist/angulartics-piwik.min.js"></script>
    <script src="app/bower_components/angulartics/dist/angulartics-ga.min.js"></script>
    <script src="plugins/auto_fill/autofill-event.min.js"></script>
    <script src="plugins/currencies/map.js"></script>
    <script src="plugins/currencies/currency-symbol-map.js"></script>

    <!-- chartjs -->
    <script src="plugins/chartjs/Chart.min.js"></script>
    <script src="plugins/chartjs/angles.min.js"></script>

    <!-- ng-clip and zeroClipboard plug-in -->
    <script src="app/bower_components/ng-clip-master/dest/ng-clip.min.js"></script>

    <!-- Semantic UI 1.x script -->
    <script src="app/bower_components/semantic-ui/dist/semantic.min.js"></script>

    <script
      type="text/javascript"
      src="app/bower_components/jquery.payment/lib/jquery.payment.js"
    ></script>

    <!-- custom js, for custom controllers -->
    <!-- DO NOT REMOVE CUSTOM FILES -->
    <script src="custom/custom.js"></script>
    <!-- DO NOT REMOVE CUSTOM FILES END -->
    <script src="scripts/social-message.js"></script>
    <script src="scripts/jquery_price_format.min.js"></script>

    <!-- Froala -->
    <script
      type="text/javascript"
      src="plugins/froala/js/froala_editor.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/align.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/char_counter.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/code_beautifier.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/code_view.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/colors.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/draggable.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/emoticons.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/entities.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/file.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/font_family.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/font_size.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/forms.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/fullscreen.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/image.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/image_manager.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/inline_style.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/line_breaker.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/link.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/lists.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/paragraph_format.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/paragraph_style.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/quote.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/save.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/table.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/url.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/froala/js/plugins/video.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/codemirror/codemirror.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/codemirror/simple.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/codemirror/mode/css.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/codemirror/mode/xml.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/codemirror/mode/javascript.min.js"
    ></script>
    <script
      type="text/javascript"
      src="plugins/codemirror/mode/htmlmixed.min.js"
    ></script>
    <!-- stripe elements -->
    <script src="https://js.stripe.com/v3/"></script>

    <script
      type="text/javascript"
      src="app/bower_components/angular-froala/src/angular-froala.js"
    ></script>
    <script
      type="text/javascript"
      src="app/bower_components/angular-froala/src/froala-sanitize.js"
    ></script>
    <script>
      $.FroalaEditor.DEFAULTS.key = "EKF1KXDA1INBc1KPc1TK==";
    </script>
  </body>
</html>
