$menu-active-bg: rgba(0, 0, 0, 0.3);
$menu-hover-bg: rgba(0, 0, 0, 0.3);
$hover-fontc: #fff;
$main-bg: #0aa5df;
$body-bg: #fafafa;
$pane-desc-color: #555;
$notes-bg: #fff58c;
$main-border: 1px solid #dddddd;
$red: #b03060;
$orange: #fed58a;
$yellow: #ffd700;
$olive: #32cd32;
$green: #016936;
$teal: #18b0b0;
$blue: #0e6eb8;
$violet: #feb8b3;
$purple: #b413ec;
$pink: #ff1493;
$brown: #a52a2a;
$grey: #a0a0a0;
$black: #000000;
$main-color: #fafafa;
$main-color-hover: #d4e0df;
$main-color-table-alter: #ccf0ef;
$main-color-one: #18b0b0;
$main-color-one-hover: #e0cce0;
$main-color-one-table-alter: #f9e3f9;
$main-color-one-step-hover: #e682e6;
$main-color-two: #f1ae44;
$main-color-two-hover: #d6dec5;
$main-color-two-table-alter: #eef7db;
$main-color-two-step-hover: #cae490;
$main-color-three: #e36955;
$main-color-three-hover: #d4e0df;
$main-color-three-table-alter: #ebf9f8;
$main-color-three-step-hover: #66d3ce;
$main-color-four: #4c9ee7;
$main-color-four-hover: #d3dee6;
$main-color-four-table-alter: #eaf7ff;
$main-color-four-step-hover: #82bbee;
$main-color-five: #d13f2b;
$main-color-five-hover: #dfcac7;
$main-color-five-table-alter: #f8e0dd;
$main-color-five-step-hover: #e38c80;
$main-color-six: #ff9e35;
$main-color-six-hover: #e6caab;
$main-color-six-table-alter: #ffe0be;
$main-color-six-step-hover: #ffc586;
$main-color-seven: #ffcc00;
$main-color-seven-hover: #e6d38a;
$main-color-seven-table-alter: #ffea99;
$main-color-seven-step-hover: #ffe680;
$main-color-eight: #8b69db;
$main-color-eight-hover: #c6bddc;
$main-color-eight-table-alter: #dcd2f4;
$main-color-eight-step-hover: #b9a5e9;
$main-color-nine: #333333;
$main-color-nine-hover: #555555;
$main-color-nine-table-alter: #9b9b9b;
$main-color-nine-step-hover: #555555;
$main-color-ten: #ffffff;
$main-color-ten-hover: #eeeeee;
$main-color-ten-table-alter: #e6e6e6;
$main-color-ten-step-hover: #dedede;
$main-color-eleven: #00caf2;
$main-color-eleven-hover: #add7e0;
$main-color-eleven-table-alter: #daf0f5;
$main-color-eleven-step-hover: #29caea;
$main-color-twelve: #ff0081;
$main-color-twelve-hover: #ecbdd5;
$main-color-twelve-table-alter: #ffe5f2;
$main-color-twelve-step-hover: #ff5cae;
$link-color: #00b5ad;

/* API DOCS POST, GET, PUT, DELETE*/

$post-color: #4092cc;
$post-txt: #ffffff;
$get-color: #5bbd72;
$get-txt: #ffffff;
$put-color: #564f8a;
$put-txt: #ffffff;
$delete-color: #d95c5c;
$delete-txt: #ffffff;

/* top nav colors*/

$top-nav-background1: #333333;
$top-nav-hover1: #555555;
$top-nav-font1: #ffffff;
$top-nav-background2: #ffffff;
$top-nav-hover2: #eeeeee;
$top-nav-font2: #333333;

/*table alt + hover colors*/

$table-alt-bg: rgba(85, 85, 85, 0.08);
$table-hover-alt-bg: rgba(51, 51, 51, 0.2);
